#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden; /* Hide scrollbars */

    --jade-green: #20bf55ff;
    --yale-blue: #0b4f6cff;
    --bright-sky: #01baefff;
    --ghost-white: #fbfbffff;
    --grey: #757575ff;

}
body {
  margin: 0;
}

@media screen and (min-width: 768px) {
  #root {
    max-width: 768px;
    align-items: center;
  }
}
